* {
    border-style: solid;
    border-color: magenta;
    border-width: 1px;
    }

.logo{
width: 100px;

}
img {
    width: 100px;
}

ul {
    display: flex;
   
    gap: 12px;

}
.logo{
    margin-right: auto;
}
